/*****BODY*****/
body{
  background-color: #c4dfe6;

}

/*****MAIN*****/
main{

}

h1{
  text-align: center;
  font-size: 50px;
}

input, button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.liste{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color:#66a5ad;
  border-radius: 20%;
  border-style: solid;
  border-color: grey;
  border-width: .5px;
}

li {
    position: relative;
    display: block;
    list-style: none;
    background-color: #113355;
    margin-bottom: 5px;
    padding: 8px;
    font-size: 1.2em;
    border-radius: 3px;
    color: white;
    margin-left: -20px;
    margin-right: 20px;
    margin-top: 10px;

}


.slett {

    display: block;
    position: absolute;
    right: 10px;
    bottom: -10px;
    font-weight: 100;
    font-size: 1em;
    margin-left: 30px;
    opacity: .4;

  }

ul{
  padding-top: 10px;
}

button{
  font-size: 15px;
  margin-bottom: 10px;
}

input{
  font-size: 15px;
  margin-top: 30px;
}



.slett:hover {
    opacity: 1;
    cursor: pointer;
}

/*****MEDIA*****/
@media screen and (min-width: 0px) and (max-width:550px){

  .liste{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
}
